#
# AudioKit-servicemenu.desktop
#
#

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,audio/*
MimeType=audio/*;
X-KDE-Priority=TopLevel
X-KDE-Submenu=AudioKit
Actions=audiokit-2flac;audiokit-flacon

[Desktop Action audiokit-2flac]
Name=Convert to FLAC
MimeType=audio/x-ms-wma
Exec=audiokit-2flac -q "%f"
Icon=audio-x-generic
Terminal=true

[Desktop Action audiokit-flacon]
Name=Split FLAC with flacon
MimeType=audio/flac;audio/x-flac;
Exec=flacon -s -p "%f"
Icon=flacon
Terminal=true
